.gallerySection {
  position: relative;
  overflow: hidden;

  &.marginBottomNone {
    margin-block-end: 0;
  }

  &.marginBottomSmall {
    margin-block-end: fluid-size(16, 31);
  }

  &.marginBottomMedium {
    margin-block-end: fluid-size(25, 50);
  }

  &.marginBottomLarge {
    margin-block-end: fluid-size(66, 132);
  }
}
