.introSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: remify(100);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-inline-size: $maxInlineSize;
  margin-block-end: remify(89);
}

.titleWrapper {
  position: relative;
  text-align: center;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-block-end: remify(89);

  .titleContent {
    text-align: center;
  }
}

// Icon styles
.icon {
  @include size(fluid-size(52px, 140px));
  position: relative;
  inset-block-start: fluid-size(5px, 32px);
  display: inline;
  aspect-ratio: 1/1;
  margin-inline: fluid-size(5px, 10px);
}

.contentWrapper {
  max-inline-size: remify(831);
  margin: 0 auto;
}

.content {
  margin-block-end: remify(44);
}

.subtitle {
  margin-block-end: remify(35);
}
