.introSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: remify(100);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-inline-size: 80vw;
  margin-block-end: remify(89);
}

.titleWrapper {
  position: relative;
  text-align: center;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-block-end: remify(89);

  .titleContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

// Common styles for title fragments
.titleFragment {
  display: inline-flex;
}

// Icon styles
.icon {
  aspect-ratio: 1/1;
}

.contentWrapper {
  max-inline-size: remify(831);
  margin: 0 auto;
}

.content {
  margin-block-end: remify(44);
}

.subtitle {
  margin-block-end: remify(35);
}
