.primaryButton {
  background-color: $colorGreenLight;
  color: $colorWhite;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    filter 0.3s ease;
  border-radius: remify(60);

  display: inline-flex;
  min-block-size: remify(68);
  justify-content: center;
  align-items: center;
  gap: remify(10);
  flex-shrink: 0;
  padding-inline: remify(65);

  &:hover {
    filter: brightness(1.1);
  }
}

.content {
  display: flex;
  align-items: center;
  gap: remify(10);
  font-weight: 700;
}

.arrow {
  fill: currentColor;
  aspect-ratio: 1/1;
  inline-size: remify(15);
}
