@import '../../../styles/utils';

.footer {
  background-color: $colorGreenPrimary;
  color: $colorGreenDark;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: $spacingSectionBlock $spacingSectionInline remify(55);
}

.footerContent {
  max-inline-size: remify(1220);
}

.logoSection {
  @include size(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-end: remify(96);
}

.logoContainer {
  @include size(100%);
  aspect-ratio: 1116 / 441;
}

.logo {
  @include size(100%);
  display: block;
  color: inherit;
}

.copyright {
  color: inherit;
}

.linksWrapper {
  display: flex;
  gap: 2rem;

  a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: $colorGreenDark;
    }
  }
}

.brandSection {
  display: flex;
  justify-content: space-between;
}

.brandName {
  color: inherit;
}

@include respond-to(MEDIUM) {
  .footerContent {
    @include size(100%);
  }
}
