@import '../../../styles/utils';

.footer {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacingSectionBlock $spacingSectionInline remify(55);
  max-inline-size: 100vw;

  &.darkBackground {
    background-color: $colorGreenPrimary;
    color: $colorGreenDark;
  }

  &.brightBackground {
    background-color: $colorGreenDark;
    color: $colorGreenPrimary;
  }
}

.footerContent {
  @include size(100%);
  max-inline-size: 100%;
}

.logoSection {
  @include size(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  inline-size: 100%;
}

.logo {
  @include size(100%);
  display: block;
  color: inherit;
  margin-block-start: remify(20);
}

.copyright {
  color: inherit;
}

.linksWrapper {
  display: flex;
  justify-content: space-between;
  gap: fluid-size(16px, 70px);
}

.leftLinks,
.rightLinks {
  display: flex;
  gap: fluid-size(16px, 70px);
}

.rightLinks {
  justify-content: flex-end;
}

.link {
  position: relative;
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
  padding-block-end: remify(6);

  &::after {
    @include pseudo;
    @include size(100%, remify(2));
    inset-block-end: 0;
    inset-inline-start: 0;
    background-color: $colorGreenLight;
    transition: transform 0.3s ease;
    transform: scaleX(0);
  }

  &:hover,
  &.active {
    &::after {
      transform: scaleX(1);
    }
  }
}

.brandSection {
  display: flex;
  justify-content: space-between;
  margin-block-start: remify(32);
}

.brandName {
  color: inherit;
}

@include respond-to(XLARGE) {
  .footerContent {
    max-inline-size: remify(1220);
  }

  .logoContainer {
    inline-size: 108%;
  }
}
