.heroSection {
  position: relative;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $colorGreenPrimary;
  padding-block: fluid-size(80, 150) fluid-size(24, 73);
  padding-inline: $spacingSectionInline;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-inline-size: $maxInlineSize;
  position: relative;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: $colorGreenDark;
  text-transform: capitalize;
  font-size: fluid-size(46, 157);
  overflow-wrap: normal;
  word-break: break-word;
}

.extraSpacing {
  margin-block-end: fluid-size(24, 73);
}

.subtitle {
  color: $colorGreenDark;
  max-inline-size: 75vw;
  margin-block-end: remify(35);
}

.contentBlocks {
  display: flex;
  flex-direction: column;
  gap: remify(35);
  inline-size: 100%;
  max-inline-size: remify(800);
}

.contentBlock {
  inline-size: 100%;
}

// Variants
.variantCentered {
  .contentWrapper {
    align-items: center;
    text-align: center;
  }
}

.variantLarge {
  .contentWrapper {
    padding-block: fluid-size(72, 144);
  }
}

.imageWrapper {
  display: block;
  position: relative;
  inline-size: 100%;
  aspect-ratio: 1147/747;
  margin-block: remify(81);
}
