.carousel {
  display: flex;
  align-items: center;
  overflow: clip;
}

.clockwise {
  transform: rotate(1deg);
  margin-inline-start: remify(-5);
}

.counterClockwise {
  transform: rotate(-1deg);
  margin-inline-start: remify(-5);
}

.container {
  inline-size: max-content;
  white-space: nowrap;
  display: flex;
  gap: remify(12);
  padding: 0 4vw 0 0;
  user-select: none;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.card {
  inline-size: 80vw;
  aspect-ratio: 831/519;
  transform-origin: 50% 100%;
  position: relative;
  overflow: hidden;

  img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    pointer-events: none;
  }
}

@include respond-to(MEDIUM) {
  .container {
    gap: remify(19);
    padding: 0 2vw 0 0;
  }

  .card {
    inline-size: 60vw;
    max-inline-size: remify(831);
  }
}
